* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Space Grotesk */
@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("../assets/Fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk-Medium";
    src: url("../assets/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk-regular";
    src: url("../assets/Fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* General Sans */
@font-face {
    font-family: "GeneralSans-Bold";
    src: url("../assets/Fonts/GeneralSans/GeneralSans-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-medium";
    src: url("../assets/Fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-Regular";
    src: url("../assets/Fonts/GeneralSans/GeneralSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS variables */
:root {
    --CTA-colour: #EAB308;
    --CTA-hover-colour: #e2ac09;
    --text-colour: #221300;
    --text-hover-colour: #4d320e;
    --Bg-colour: #FAFAFA;
    --Heading-font-medium: "SpaceGrotesk-Medium";
    --Heading-font-bold: "SpaceGrotesk-Bold";
    --Heading-font-regular: "SpaceGrotesk-regular";
    --text-font-medium: "GeneralSans-Medium";
    --text-font-bold: "GeneralSans-Bold";
    --text-font-regular: "GeneralSans-Regular";
    --icon-hover: #ebebeb;
}

/* Navbar */

.navbar-container {
    border: 2px solid black;
    height: 100px;
    display: flex;
    padding: 0 80px;
    justify-content: space-between;
    gap: 64px;
    align-items: center;
}

.nav-logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    min-width: 200px;
}

.nav-right {
    height: 150px;
    width: 260px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.navbar-links li a {
    text-decoration: none;
    font-family: var(--text-font-regular);
    font-size: 16.8px;
    color: var(--text-colour);
}

.navbar-links li a:hover {
    color: var(--text-hover-colour);
}

.nav-CTA {
    width: 197px;
    height: 52px;
    background-color: var(--CTA-colour);
    border-radius: 100px;
    border: none;
    color: var(--text-colour);
    font-family: var(--text-font-regular);
    font-size: 18.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-menu {
    display: none;
    height: 45px;
    width: 45px;
}

.nav-CTA:hover {
    cursor: pointer;
    background-color: var(--CTA-hover-colour);
}

/* Sidebar */
.sidebar-container {
    height: auto;
    width: 100%;
    padding: 0 0 35px 0;
    position: absolute;
    background-color: #fafafab2;
    z-index: 1;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 15px var(--text-colour);
    transform: translateY(-150%);

}

.sidebar-container-open {
    transform: translateY(-100px);
    transition: 0.3s ease-in-out;
}

.sidebar-content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    border: 2px solid;
}

.sidebar-links a {
    gap: 25px;
    display: flex;
    height: 50px;
    font-family: var(--text-font-regular);
    color: var(--text-colour);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.sidebar-links a:hover {
    color: var(--text-hover-colour);
    background-color: #B1B1B1;
}

.sidebar-CTA {
    height: 50px;
    margin: 0 12px;
    border-radius: 100px;
    background-color: var(--CTA-colour);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: var(--text-font-regular);
    font-size: 16.8px;
    border: none;
}

.sidebar-CTA:hover {
    background-color: var(--CTA-hover-colour);
    cursor: pointer;
}

.sidebar-close {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 100px;
    border: 2px solid;
    margin-bottom: 40px;
}

.sidebar-close:hover {
    background-color: var(--icon-hover);
    fill: var(--text-hover-colour);
}

.sidebar-close-icon {
    height: 37.25px;
    fill: var(--text-colour);
    width: 37.25px;
}

@media (1024px >=width) {
    .navbar-container {
        padding: 0 40px;
    }
}

@media (936px >=width) {
    .navbar-links {
        display: none;
    }

    .nav-left {
        gap: 16px;
    }

    .nav-menu {
        display: initial;
    }

    .nav-right {
        height: 283px;
        width: 283px;
    }

    .nav-CTA {
        width: 190px;
        height: 45px;
        font-size: 16.8px;
    }

    .sidebar-links a {
        height: 45px;
    }


    .navbar-container {
        gap: 32px;
    }
}

@media (608px >=width) {
    .navbar-container {
        padding: 0 12px;
    }

    .nav-right {
        height: 87px;
        width: 150px;
    }

    .nav-CTA {
        display: none;
    }

    .nav-menu {
        height: 45px;
        width: 45px;
    }

    .sidebar-CTA {
        display: initial;
        display: flex;
    }

    .sidebar-links a {
        height: 40px;
    }

    .sidebar-content {
        gap: 16px;
    }
}