* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Space Grotesk */
@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("../assets/Fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk-Medium";
    src: url("../assets/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk-regular";
    src: url("../assets/Fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* General Sans */
@font-face {
    font-family: "GeneralSans-Bold";
    src: url("../assets/Fonts/GeneralSans/GeneralSans-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-medium";
    src: url("../assets/Fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-Regular";
    src: url("../assets/Fonts/GeneralSans/GeneralSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS variables */
:root {
    --CTA-colour: #EAB308;
    --CTA-hover-colour: #e2ac09;
    --text-colour: #221300;
    --text-hover-colour: #4d320e;
    --Bg-colour: #FAFAFA;
    --Heading-font-medium: "SpaceGrotesk-Medium";
    --Heading-font-bold: "SpaceGrotesk-Bold";
    --Heading-font-regular: "SpaceGrotesk-regular";
    --text-font-medium: "GeneralSans-Medium";
    --text-font-bold: "GeneralSans-Bold";
    --text-font-regular: "GeneralSans-Regular";
    --icon-hover: #ebebeb;
}

/* Navbar */
.navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.navbar-container {
    height: 100px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    width: 100%;
    padding: 0 80px;
    justify-content: space-between;
    gap: 64px;
    background-color: transparent;
    align-items: center;
}

.nav-logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    min-width: 200px;
}

.nav-right {
    height: 150px;
    width: 260px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.navbar-links li a {
    text-decoration: none;
    font-family: var(--text-font-regular);
    font-size: 16.8px;
    color: var(--text-colour);
}

.navbar-links li a:hover {
    color: var(--text-hover-colour);
}

.nav-CTA {
    width: 197px;
    height: 52px;
    background-color: var(--CTA-colour);
    border-radius: 100px;
    border: none;
    color: var(--text-colour);
    font-family: var(--text-font-regular);
    font-size: 18.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-menu {
    display: none;
    height: 45px;
    width: 45px;
}

.nav-CTA:hover {
    cursor: pointer;
    background-color: var(--CTA-hover-colour);
}

/* Sidebar */
.sidebar-container {
    height: auto;
    width: 100%;
    padding: 0 0 35px 0;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 15px var(--text-colour);
    display: none;

}

.sidebar-container-open {
    display: inherit;
    transition: 0.3s ease-in-out;
}

.sidebar-content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    border: 2px solid;
}

.sidebar-links a {
    gap: 25px;
    display: flex;
    height: 50px;
    font-family: var(--text-font-regular);
    color: var(--text-colour);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.sidebar-links a:hover {
    color: var(--text-hover-colour);
    background-color: #B1B1B1;
}

.sidebar-CTA {
    height: 50px;
    margin: 0 12px;
    border-radius: 100px;
    background-color: var(--CTA-colour);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: var(--text-font-regular);
    font-size: 16.8px;
    border: none;
}

.sidebar-CTA:hover {
    background-color: var(--CTA-hover-colour);
    cursor: pointer;
}

.sidebar-close {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 100px;
    border: 2px solid;
    margin-bottom: 40px;
}

.sidebar-close:hover {
    background-color: var(--icon-hover);
    fill: var(--text-hover-colour);
}

.sidebar-close-icon {
    height: 37.25px;
    fill: var(--text-colour);
    width: 37.25px;
}

/* Hero-Section */
.hero-layer {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 70%;
    background-color: var(--Bg-colour);
}

.Hero-Section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/Images/Gemini_Generated_Image_7waxkt7waxkt7wax.webp);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0%;
}

.Hero-content {
    position: absolute;
    z-index: 2;
    top: 35%;
    height: auto;
    max-width: 1440px;
    margin-left: 80px;
    margin-right: 80px;
}

.hero-heading {
    font-family: var(--Heading-font-medium);
    font-size: 65.04px;
    margin-bottom: 8px;
    height: auto;
}

.hero-para {
    font-family: var(--text-font-regular);
    font-size: 20px;
    margin-bottom: 32px;
    width: 747px;
}

.hero-btn {
    display: flex;
    gap: 12px;
}

.hero-CTA {
    height: 52px;
    width: 197px;
    font-family: var(--text-font-regular);
    font-size: 18.8px;
    border-radius: 100px;
    border: none;
    background-color: var(--CTA-colour);
}

.hero-CTA:hover {
    cursor: pointer;
    background-color: var(--CTA-hover-colour);
}

.hero-secondery {
    height: 52px;
    width: 204px;
    font-family: var(--text-font-regular);
    font-size: 18.8px;
    border-radius: 100px;
    border: 1px solid var(--text-colour);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.hero-secondery:hover {
    cursor: pointer;
    color: var(--Bg-colour);
    fill: var(--Bg-colour);
    border: none;
    background-color: var(--text-colour);
}

/* Hero-reviews-images */
.Hero-reviews-heading {
    font-family: var(--text-font-regular);
    font-size: 16px;
}

.Hero-reviews {
    position: static;
    margin-top: 36px;
    z-index: 1;
}

.customers-pic {
    display: flex;
    justify-content: start;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 0 10px;
    width: auto;
}

.reviews-img {
    height: 55px;
    width: 55px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-items: center;
    margin: 0 -10px;
    border: 1.5px solid var(--text-colour);
    object-fit: cover;
}

.reviews-imgs {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reviews-more {
    height: 55px;
    width: 55px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-items: center;
    margin: 0 -20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: var(--text-font-regular);
    background-color: var(--Bg-colour);
    border: 1.5px solid var(--text-colour);
    object-fit: cover;
}

.Hero-reviews-star {
    height: 25px;
    width: 125px;
}

/* Top-Deshies */
.Top-deshies {
    height: auto;
    width: 100%;
    border: 2px solid;
    margin-top: 56px;
}
.top-deshies-menu-btn{
    border: 2px solid;
    font-family: var(--text-font-regular);
    text-decoration: none;
    color: var(--text-colour);
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 31px;
    width: 200px;
}
.top-deshies-heading {
    font-family: var(--Heading-font-medium);
    font-size: 54.83px;
    display: block;
    border: 2px solid;
}

.top-deshies-top-btns {
    padding: 0 80px;
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.deshies-main {
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 2px solid red;
}

.top-deshies-cards {
    display: flex;
    gap: 8px;
}

.deshies-cards {
    height: auto;
    width: 426px;
    border-radius: 8px;
    border: 1px solid var(--text-colour);
    overflow: hidden;
}

.deshies-images {
    height: 280px;
    width: 100%;
}

.deshies-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.deshies-content {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.deshies-heading {
    font-family: var(--text-font-medium);
    font-size: 35px;
    line-height: 45px;
    height: 100px;
}

.deshies-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deshies-prize {
    font-family: var(--text-font-regular);
    font-size: 30px;
}

.deshies-card-CTA {
    height: 35px;
    width: 110px;
    border-radius: 100px;
    background-color: var(--CTA-colour);
    color: var(--text-colour);
    border: none;
    font-size: 20px;
}

.deshies-card-CTA:hover {
    cursor: pointer;
    background-color: var(--CTA-hover-colour);
}

.top-deshies-btns {
    border: 2px solid;
    display: flex;
    height: 80px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.forword-arrow-btn {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    background-color: var(--Bg-colour);
    display: flex;
    position: relative;
    box-shadow: 2px 1px 10px var(--text-colour);
    justify-content: center;
    align-items: center;
    border: none;
}

.reverce-arrow-btn {
    height: 70px;
    background-color: var(--Bg-colour);
    width: 70px;
    box-shadow: 2px 1px 10px var(--text-colour);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    border: none;
}

.forword-arrow-btn:hover {
    background-color: var(--icon-hover);
}

.reverce-arrow-btn:hover {
    background-color: var(--icon-hover);
}

@media (1024px >=width) {
    .navbar-container {
        padding: 0 40px;
    }
}

@media (936px >=width) {
    .navbar-links {
        display: none;
    }

    .nav-left {
        gap: 16px;
    }

    .nav-menu {
        display: initial;
    }

    .nav-right {
        height: 283px;
        width: 283px;
    }

    .nav-CTA {
        width: 190px;
        height: 45px;
        font-size: 16.8px;
    }

    .sidebar-links a {
        height: 45px;
    }


    .navbar-container {
        gap: 32px;
    }

    /* Hero-Section */
    .Hero-Section {
        justify-content: center;
    }

    .Hero-content {
        margin-left: 40px;
        margin-right: 40px;
    }

    .hero-para {
        width: auto;
    }

    .Hero-reviews {
        margin-top: 30px;
    }

    .Hero-content {
        top: 20%;
    }
}

@media (608px >=width) {
    .navbar-container {
        padding: 0 5px;
    }

    .nav-right {
        height: 87px;
        width: 150px;
    }

    .nav-CTA {
        display: none;
    }

    .nav-menu {
        height: 45px;
        width: 45px;
    }

    .sidebar-CTA {
        display: initial;
        display: flex;
    }

    .sidebar-links a {
        height: 40px;
    }

    .sidebar-content {
        gap: 16px;
    }

    /* Hero-Section */
    .Hero-content {
        margin-left: 12px;
        margin-right: 12px;
    }

    .hero-heading {
        font-family: var(--Heading-font-medium);
        font-size: 45.06px;
        line-height: 56px;
        margin-bottom: 8px;
    }

    .hero-CTA {
        height: 40px;
        width: 190px;
        font-size: 16px;
    }

    .hero-secondery {
        height: 40px;
        width: 190px;
        font-size: 16px;
        gap: 4px;
    }

    .Hero-CTA-icon {
        height: 23px;
        width: 23px;
    }

    .hero-btn {
        gap: 3px;
    }

    .hero-para {
        font-family: var(--text-font-regular);
        font-size: 16px;
        margin-bottom: 28px;
        width: auto;
    }
}

@media (396px >=width) {
    .hero-CTA {
        height: 40px;
        width: 100%;
    }

    .hero-secondery {
        height: 40px;
        width: 100%;
    }

    .hero-btn {
        gap: 4px;
        display: flex;
        flex-direction: column;
    }

    .hero-heading {
        font-family: var(--Heading-font-medium);
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 8px;
    }

    .reviews-img {
        height: 49px;
        width: 49px;
    }

    .reviews-more {
        height: 49px;
        width: 49px;
    }
}